/* 导航 */
.font-1 {
    font-family: "微软雅黑";
    font-size: 12pt;
    font-style: normal;
}

/* 输入、菜单 */
.font-2 {
    font-family: "微软雅黑";
    font-size: small;
    font-weight: normal;
}

.font-3 {
    font-family: "微软雅黑";
    font-size: 20pt;
}

