#headerLayout1, #headerLayout2, #splitLine {
    position: relative;
}

#headerLayout1 {
    height: 90px;
}

#globalSearch, #headerOthers {
    position: absolute;
}

#brand img {
    float: left;
    margin-top: 5px;
    margin-right: 20px;
}

#brand span {
    float: left;
    margin-top: 30px;
    font-family: "幼圆";
    font-size: 20pt;
    font-weight: bold;
}

#headerLayout2 {
    height: 37px;
    line-height: 37px;
    background: #f8f8f8;
}

#headerLayout2 * {
    height: inherit;
    line-height: inherit;
}

#majorNav h1 {
    float: left;
    width: 210px;
    background-color: yellowgreen;
    text-align: center;
    color: white;
    margin-right: 45px;
}

#majorNav div.first {
    float: left;
}











